[hosts]
{# TODO: find a better way to identify if this is running on DR or PRD #}
{% if ansible_hostname|regex_search('^dr-') %}
{{ groups['gluster-dr'][0] }}
{{ groups['gluster-dr'][1] }}
{{ groups['gluster-dr'][2] }}
{% else %}
{{ groups['gluster-prd'][0] }}
{{ groups['gluster-prd'][1] }}
{{ groups['gluster-prd'][2] }}
{% endif %}

[pv1]
action=create
devices=vdb
ignore_pv_errors=no

[vg1]
action=create
vgname=gluster_vg_vdb
pvname=vdb
ignore_vg_errors=no

{% if ansible_hostname|regex_search('^dr-') %}
{# {{ '[lv1:{' + groups['gluster-dr'][0] + ',' + groups['gluster-dr'][1] + '}]' }} #}
[lv1:{{ '{' }}{{ groups['gluster-dr'][0] }},{{ groups['gluster-dr'][1] }}{{ '}' }}]
{% else %}
[lv1:{{ '{' }}{{ groups['gluster-prd'][0] }},{{ groups['gluster-prd'][1] }}{{ '}' }}]
{% endif %}
action=create
poolname=gluster_thinpool_vdb
ignore_lv_errors=no
vgname=gluster_vg_vdb
lvtype=thinpool
poolmetadatasize=100MB
size=24GB

{% if ansible_hostname|regex_search('^dr-') %}
[lv2:{{ groups['gluster-dr'][2] }}]
{% else %}
[lv2:{{ groups['gluster-prd'][2] }}]
{% endif %}
action=create
poolname=gluster_thinpool_vdb
ignore_lv_errors=no
vgname=gluster_vg_vdb
lvtype=thinpool
poolmetadatasize=50MB
size=9GB

{% if ansible_hostname|regex_search('^dr-') %}
[lv3:{{ '{' }}{{ groups['gluster-dr'][0] }},{{ groups['gluster-dr'][1] }}{{ '}' }}]
{% else %}
[lv3:{{ '{' }}{{ groups['gluster-prd'][0] }},{{ groups['gluster-prd'][1] }}{{ '}' }}] 
{% endif %}
action=create
lvname=gluster_lv_master
ignore_lv_errors=no
vgname=gluster_vg_vdb
mount=/gluster_bricks/master
lvtype=thinlv
poolname=gluster_thinpool_vdb
virtualsize=9GB

{% if ansible_hostname|regex_search('^dr-') %}
[lv4:{{ groups['gluster-dr'][2] }}]
{% else %}
[lv4:{{ groups['gluster-prd'][2] }}]
{% endif %}
action=create
lvname=gluster_lv_master
ignore_lv_errors=no
vgname=gluster_vg_vdb
mount=/gluster_bricks/master
lvtype=thinlv
poolname=gluster_thinpool_vdb
virtualsize=1GB

{% if ansible_hostname|regex_search('^dr-') %}
[lv5:{{ '{' }}{{ groups['gluster-dr'][0] }},{{ groups['gluster-dr'][1] }}{{ '}' }}]
{% else %}
[lv5:{{ '{' }}{{ groups['gluster-prd'][0] }},{{ groups['gluster-prd'][1] }}{{ '}' }}]
{% endif %}
action=create
lvname=gluster_lv_data
ignore_lv_errors=no
vgname=gluster_vg_vdb
mount=/gluster_bricks/data
lvtype=thinlv
poolname=gluster_thinpool_vdb
virtualsize=15GB

{% if ansible_hostname|regex_search('^dr-') %}
[lv6:{{ groups['gluster-dr'][2] }}]
{% else %}
[lv6:{{ groups['gluster-prd'][2] }}]
{% endif %}
action=create
lvname=gluster_lv_data
ignore_lv_errors=no
vgname=gluster_vg_vdb
mount=/gluster_bricks/data
lvtype=thinlv
poolname=gluster_thinpool_vdb
virtualsize=1GB

[selinux]
yes

[service3]
action=start
service=glusterd


[firewalld]
action=add
ports=111/tcp,2049/tcp,54321/tcp,5900/tcp,5900-6923/tcp,5666/tcp,16514/tcp,54322/tcp
services=glusterfs


[volume1]
action=create
volname=rhv-master
transport=tcp
replica=yes
replica_count=3
key=group,storage.owner-uid,storage.owner-gid,network.ping-timeout,performance.strict-o-direct,network.remote-dio,cluster.granular-entry-heal,features.shard-block-size
value=virt,36,36,30,on,off,enable,64MB
{% if ansible_hostname|regex_search('^dr-') %}
brick_dirs={{ groups['gluster-dr'][0] }}:/gluster_bricks/master/master,{{ groups['gluster-dr'][1] }}:/gluster_bricks/master/master,{{ groups['gluster-dr'][2] }}:/gluster_bricks/master/master
{% else %}
brick_dirs={{ groups['gluster-prd'][0] }}:/gluster_bricks/master/master,{{ groups['gluster-prd'][1] }}:/gluster_bricks/master/master,{{ groups['gluster-prd'][2] }}:/gluster_bricks/master/master
{% endif %}
ignore_volume_errors=no
arbiter_count=1

[volume2]
action=create
volname={{ data_volname }}
transport=tcp
replica=yes
replica_count=3
key=group,storage.owner-uid,storage.owner-gid,network.ping-timeout,performance.strict-o-direct,network.remote-dio,cluster.granular-entry-heal,features.shard-block-size
value=virt,36,36,30,on,off,enable,64MB
{% if ansible_hostname|regex_search('^dr-') %}
brick_dirs={{ groups['gluster-dr'][0] }}:/gluster_bricks/{{ data_volname }}/{{ data_volname }},{{ groups['gluster-dr'][1] }}:/gluster_bricks/{{ data_volname }}/{{ data_volname }},{{ groups['gluster-dr'][2] }}:/gluster_bricks/{{ data_volname }}/{{ data_volname }}
{% else %}
brick_dirs={{ groups['gluster-prd'][0] }}:/gluster_bricks/{{ data_volname }}/{{ data_volname }},{{ groups['gluster-prd'][1] }}:/gluster_bricks/{{ data_volname }}/{{ data_volname }},{{ groups['gluster-prd'][2] }}:/gluster_bricks/{{ data_volname }}/{{ data_volname }}
{% endif %}
ignore_volume_errors=no
arbiter_count=1


